.content .post-wrapper {
	display: grid;
	grid-template-columns: 1fr 1px 1fr;
	grid-template-areas: 'row1 divider row2';
	background: var(--gradient-bg);
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	padding: 3rem;
}

.post-wrapper .divider{
    grid-area: divider;
    width: 0.1rem;
    height: 45vh;
    margin: auto;
    background-color: var(--clr-white)
}