.explore-wrapper-background {
    background: var(--gradient-bg);
    width: 100%;
    height: calc(100vh - 6rem);
}

.explore-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 4rem;
}

.explore-wrapper > img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}