.comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.comments-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.comment{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    width: 60vh;
}

.comment > img{
    width: 2.5rem;
    object-fit: contain;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment-content-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-info{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: flex-end;
    font-size: 1rem;
    flex: 1;
}

.comment-info > span{
    opacity: 0.7;
}

.comment-reply-btn,
.comment-likes{
    font-weight: 500;
}

.comment-reply-btn,
.comment-showmore-btn,
.comment-like-btn{
    cursor: pointer;
}

.comment-showmore-btn{
    font-style: italic;
    opacity: 0.7;
}

.comment-like-btn{
    flex: 1;
    text-align: right;
    opacity: 0.7;
}

.make-comment{
    padding: 1rem 2.5rem;
    background-color: var(--clr-white);
    border-radius: 100vw;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    display: flex;
    justify-content: space-between;
    width: 60vh;
}

.make-comment > input{
    font-size: 1.4rem;
    color: var(--clr-black);
    background-color: transparent;
    width: 100%;
}

.make-comment > input::placeholder{
    opacity: 0.7;
}

.make-comment > img {
    width: 2.5em;
    cursor: pointer;
}

.no-comments{
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    margin: 5rem auto 0;
}