[data-post]{
    grid-area: row1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-white);
    border-right: 1px solid white;
}

[data-post] .post-handle-wrapper{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

[data-post] > img{
    width: 300px;
}