[data-post-wrapper]{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

[data-post]{
    grid-area: row1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--clr-white);
    gap: 2rem;
    margin: auto;
    width: 60vh;
}

[data-post]#add-post-wrapper {
    width: 40vh;
}

[data-post] .post-likes-wrapper,
[data-post] .post-handle-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 0.5rem 0 0; */
    padding: 0 0.5rem;
}

[data-post] .post-handle-wrapper{
    gap: 0.5rem;
}

[data-post] .post-handle-wrapper > .profileimg {
    width: 4rem;
    object-fit: contain;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

[data-post] .post-handle-wrapper > .post-handle{
    width: 100%;
    text-align: left;
} 

[data-post] .post-handle-wrapper > .post-handle > span{
    font-size: 2rem;
    font-weight: 500;
} 

[data-post] .post-handle-wrapper > .post-handle > p{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.7;
}

[data-post] .post-handle-wrapper > .favorite {
    width: 2.5rem;
}

[data-post] > img{
    width: 60vh;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

[data-post] img#add-post{
	width: 40vh;
}

[data-post] input#fileupload{
    display: none;
}

[data-post] textarea#add-post-caption{
    resize: none;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    overflow: auto;
    height: 6rem;
}

[data-post] div#add-post-submit{
    background: linear-gradient(to right, var(--clr-accent-primary), var(--clr-accent-secondary));
    width: fit-content;
    align-self: flex-end;
    padding: 0.8rem 3rem;
    font-weight: 800;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

[data-post] .post-likes-wrapper > p {
    font-size: 1.2rem;
    font-weight: 600;
}

[data-post] .post-likes-wrapper > .post-likes-btns {
    display: flex;
    gap: 2rem;
}

[data-post] .post-likes-wrapper > .post-likes-btns > img {
    width: 2.5rem;
    cursor: pointer;
}