@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./gilroy.css";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	color: inherit;
	/* outline: 1px solid red; */
}

:root{
	--clr-white: #f8f8f8;
	--clr-black: #0c0c0c;
	--clr-gray: #313131;
	--clr-accent-primary: #6633cc;
	--clr-accent-secondary: #00FFFF;
	--gradient-bg: linear-gradient(var(--clr-gray), transparent);
	--gradient-clr: linear-gradient(135deg, var(--clr-accent-primary), var(--clr-accent-secondary));
	font-size: 10px;
}

body{
	width: 100vw;
	min-height: 100vh;
	font-family: 'gilroy', sans-serif;
	color: var(--clr-white);
}